<h1>Links</h1>
<div class="list-group">
  <li *ngFor="let link of links" class="list-group-item">
    <app-link [link]="link"></app-link>
    <button class="btn btn-danger btn-sm" aria-label="Left Align" title="Delete Link"  (click)="deleteLink(link)">
         <fa-icon [icon]="['fas', 'trash']"></fa-icon>
    </button>
  </li>
  <li class="list-group-item">
    <button class="btn btn-primary" aria-label="Left Align" title="Add Link" (click)="addLink()">
      <fa-icon [icon]="['fas', 'plus-square']"></fa-icon>
    </button>
  </li>
</div>